---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ChallengeCardList from "@components/ChallengeCardList.jsx";
import { getLangFromUrl, useTranslatedPath } from "src/i18n/utils";
import { format } from "date-fns";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const currentDate = new Date();
const formattedDate = format(currentDate, "MMMM yyyy");

const englishChallenges = await getCollection("active-challenges", ({ id }) => {
  return id.startsWith("en/");
});
---

<Layout
  pageTitle={`Race and challenge calendar - ${formattedDate} - Swetro`}
  seoTitle={`Calendar of running and cycling races - ${formattedDate}`}
  seoDescription="From beginners to experienced athletes, our running and cycling challenges are for everyone. Find yours and compete from anywhere."
  image=""
>
  <main>
    <section
      class="flex flex-row items-center justify-center h-[26.75rem] md:h-[23.4375rem] px-4 md:px-14 bg-black bg-[url(/images/challenges-section-1-background-desktop.webp)] bg-no-repeat"
    >
      <h1
        class="text-[2rem] md:text-[2.5rem] leading-[3rem] font-normal text-center text-white"
      >
        Join a challenge today, <span
          class="inline md:block font-normal md:font-bold"
          >achieve your goals and win cash</span
        >
      </h1>
    </section>
    <ChallengeCardList
      challenges={englishChallenges}
      baseUrl={translatePath("/challenges")}
      lang={lang}
      client:load
    />
  </main>
</Layout>
