---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ChallengeCardList from "@components/ChallengeCardList.jsx";
import { getLangFromUrl, useTranslatedPath } from "src/i18n/utils";
import { format } from "date-fns";
import es from "date-fns/locale/es/index.js";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const currentDate = new Date();
const formattedDate = format(currentDate, "MMMM yyyy", { locale: es });

const spanishChallenges = await getCollection("active-challenges", ({ id }) => {
  return id.startsWith("es/");
});
---

<Layout
  pageTitle={`Calendario de carreras y retos - ${formattedDate} - Swetro`}
  seoTitle={`Calendario de carreras de running y ciclismo - ${formattedDate}`}
  seoDescription="Desde principiantes hasta atletas experimentados, nuestros retos de running y ciclismo son para todos. Encuentra el tuyo y compite desde cualquier lugar."
  image=""
>
  <main>
    <section
      class="flex flex-row items-center justify-center h-[26.75rem] md:h-[23.4375rem] px-4 md:px-14 bg-black bg-[url(/images/challenges-section-1-background-desktop.webp)] bg-no-repeat"
    >
      <h1
        class="text-[2rem] md:text-[2.5rem] leading-[3rem] font-normal text-center text-white"
      >
        Únete a un reto hoy, <span
          class="inline md:block font-normal md:font-bold"
          >alcanza tus metas y gana dinero</span
        >
      </h1>
    </section>
    <ChallengeCardList
      challenges={spanishChallenges}
      baseUrl={translatePath("/challenges")}
      lang={lang}
      client:load
    />
  </main>
</Layout>
