---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Privacy Policy - Swetro" , description="" , image="">
  <main>
    <section class="my-12 px-4 md:px-14">
      <h1 class="my-8 text-2xl text-center font-bold">Privacy Policy</h1>
      <p class="my-4 text-sm leading-[1.375rem]">
        At Swetro, we prioritize your privacy and are dedicated to ensuring a
        secure and safe environment for all our users. This Privacy Policy
        outlines the information we collect when you visit our website or use
        our services and how we use this information.
      </p>
      <p class="my-4 text-sm leading-[1.375rem]">
        If you have any questions or need further information about our Privacy
        Policy, please don't hesitate to contact us at hello@swetro.com
      </p>
      <h2 class="my-5 text-lg font-bold">Scope</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        This Privacy Policy pertains solely to our online activities and is
        applicable to visitors of Swetro.com concerning the information they
        share or that we collect. It does not extend to information collected
        offline or through channels other than this website.
      </p>
      <h2 class="my-5 text-lg font-bold">Consent</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        By using our website, you agree to abide by our Privacy Policy and
        consent to its terms.
      </p>
      <h2 class="my-5 text-lg font-bold">Information collection</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        We will always clarify the reasons for collecting personal information
        when requesting it from you. If you reach out to us directly, we may
        receive additional details such as your name, email address, phone
        number, message contents, attachments, and other data you choose to
        provide.
      </p>
      <p class="my-4 text-sm leading-[1.375rem]">
        When you register for an Account, we may request contact information
        like your name, address, email, and phone number. We respect your
        privacy and will not sell or rent this information to any third parties.
      </p>
      <h2 class="my-5 text-lg font-bold">How we use your information</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        We employ the information we collect for various purposes, including:
      </p>
      <ul class="my-4 ml-3 list-disc text-sm leading-[1.375rem]">
        <li>Operating and maintaining our website</li>
        <li>Enhancing and personalizing your experience on our website</li>
        <li>Analyzing your website usage to improve our services</li>
        <li>Developing new features, products, and services</li>
        <li>
          Communicating with you, either directly or through our partners, for
          customer service, updates, and marketing
        </li>
        <li>Sending you emails</li>
        <li>Detecting and preventing fraud</li>
        <li>Log Files</li>
      </ul>
      <p class="my-4 text-sm leading-[1.375rem]">
        Swetro.com follows industry-standard practices by using log files, which
        include IP addresses, browser types, timestamps, referring/exit pages,
        and click data. This information is non-personally identifiable and
        assists us in analyzing trends, administering the website, tracking user
        activity, and gathering demographic data.
      </p>
      <h2 class="my-5 text-lg font-bold">Advertising partners</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Please consult the respective Privacy Policies of our advertising
        partners. They may use cookies, JavaScript, or Web Beacons in their
        advertisements to measure campaign effectiveness and personalize content
        based on your browsing history. Swetro.com has no control over these
        third-party cookies.
      </p>
      <h2 class="my-5 text-lg font-bold">Third-party privacy policies</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Third-party suppliers, such as Garmin, Suunto, and any other fitness
        tracker manufacturers may provide data to Swetro for challenges and
        fitness tracking functionalities. The use of such data by Swetro is
        subject to the privacy policies of these suppliers. Users are
        responsible for reviewing and accepting these third-party privacy
        policies.
      </p>
      <h2 class="my-5 text-lg font-bold">Your privacy rights</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Under CCPA, Californian users can:
      </p>
      <ul class="my-4 ml-3 list-disc text-sm leading-[1.375rem]">
        <li>Request disclosure of specific collected data</li>
        <li>Request deletion of their collected data</li>
        <li>Opt-out of their data being sold</li>
      </ul>
      <p class="my-4 text-sm leading-[1.375rem]">For GDPR users:</p>
      <ul class="my-4 ml-3 list-disc text-sm leading-[1.375rem]">
        <li>Right to access</li>
        <li>Right to rectification</li>
        <li>Right to erasure</li>
        <li>Right to restrict processing</li>
        <li>Right to object to processing</li>
        <li>Right to data portability</li>
      </ul>
      <p>Please contact us to exercise these rights.</p>
      <h2 class="my-5 text-lg font-bold">Children's information</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Swetro.com prioritizes child online protection and does not knowingly
        collect personal information from children under 13 years of age. If you
        believe your child has provided such information, please contact us, and
        we will promptly remove it from our records.
      </p>
      <h2 class="my-5 text-lg font-bold">Contact us</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        If you have any questions or concerns regarding this privacy policy,
        please reach out to us at hello@swetro.com
      </p>
    </section>
  </main>
</Layout>
