---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ChallengeResultsGrid from "@components/ChallengeResultsGrid.astro";

export async function getStaticPaths({ paginate }) {
  const spanishChallenges = await getCollection(
    "completed-challenges",
    ({ id }) => {
      return id.startsWith("es/");
    }
  );

  const sortedChallenges = spanishChallenges.sort(
    (a, b) => b.data.startTime.valueOf() - a.data.startTime.valueOf()
  );

  return paginate(sortedChallenges, { pageSize: 20 });
}

const { page } = Astro.props;
---

<Layout
  pageTitle="Resultados de carreras y retos - Swetro"
  seoTitle="Resultados de carreras y retos - Swetro"
  seoDescription="Resultados de carreras y retos: ¡Descubre quién terminó cada competencia en nuestra plataforma!"
  image=""
>
  <main>
    <section
      class="flex flex-row items-center justify-center h-[23.75rem] md:h-[20.4375rem] px-4 md:px-14 bg-black bg-[url(/images/challenges-section-1-background-desktop.webp)] bg-no-repeat"
    >
      <h1
        class="text-[2rem] md:text-[2.5rem] leading-[3rem] font-normal text-center text-white"
      >
        Resultados de carreras y retos <span
          class="inline md:block font-normal md:font-bold"></span>
      </h1>
    </section>
    <section class="px-4 md:px-14 bg-black">
      <ChallengeResultsGrid page={page} />
    </section>
  </main>
</Layout>
