---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section
      class="flex items-center h-[35.6875rem] min-w-[20rem] px-14 bg-cobalt_blue_600"
    >
      <div class="w-[706px]">
        <h1 class="text-[64px] text-white leading-[5rem] font-bold">
          Virtual race platform and fantasy league
        </h1>
        <h2 class="mt-2 text-2xl text-white italic">
          <span class="text-glory_green_400">for real-life</span> physical
          activities.
        </h2>
        <div class="mt-[55px]">
          <a
            href="/"
            class="px-7 py-2.5 rounded-md bg-glory_green_400 text-base text-gray-800 font-semibold"
          >
            Register now</a
          >
        </div>
      </div>
    </section>
    <section class="bg-blue-700 h-[19.125rem]">Section 2</section>
    <section class="bg-blue-600 h-[19.125rem]">Section 3</section>
    <section class="bg-blue-500">Section 4</section>
    <section class="bg-blue-400 h-[19rem]">Section 5</section>
    <section class="bg-blue-300">Section 6</section>
    <section class="bg-blue-200 h-[48.0625rem]">Section 7</section>
  </main>
  <footer class="border border-white bg-blue-100 h-[14.9375rem]">Footer</footer>
</Layout>
