---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ChallengeDetailButtons from "@components/ChallengeDetailButtons.astro";
import ChallengeDetailHeader from "@components/ChallengeDetailHeader.astro";
import ChallengeDetailButtonParticipate from "@components/ChallengeDetailButtonParticipate.astro";
import ChallengeDetailTable from "@components/ChallengeDetailTable.astro";

export async function getStaticPaths() {
  const challenges = await getCollection("challenges");
  return challenges.map((challenge) => ({
    params: { slug: challenge.slug },
    props: challenge,
  }));
}

const { challenge } = Astro.props;
---

<Layout title="" description="">
  <main>
    <!-- <ChallengeDetailHeader challenge={challenge} />
    <ChallengeDetailButtons IsDetails={false} challenge={challenge} />
    <ChallengeDetailTable />
    <ChallengeDetailButtonParticipate /> -->
  </main>
</Layout>
