---
import { Image } from "astro:assets";
import running from "../assets/images/challenge-card-running.png";
---

<article
  class="w-[22.75rem] h-[13.875rem] m-3 p-8 bg-white rounded-xl shadow-md"
>
  <div class="flex items-center">
    <div
      class="w-[15.4375rem] h-[4.25rem] text-[28px] leading-[1.875rem] font-bold italic"
    >
      Media maratón de Bogotá - 21k
    </div>
    <div>
      <Image src={running} alt="Running" />
    </div>
  </div>
  <div></div>
  <!-- <div class="flex items-center">
    
    <h4 class="ml-2.5 text-2xl font-medium">Step 3</h4>
  </div>
  <p class="mt-2.5 text-sm leading-6 font-normal text-shadow_gray_500">
    Earn cash rewards by completing the challenge.
  </p> -->
</article>
