---
import { Image } from "astro:assets";
import running from "../assets/images/challenge-card-running.png";
---

<article
  class="flex flex-col justify-between w-[18.75rem] min-[360px]:w-[21.375rem] md:w-[22.5rem] h-[13.875rem] m-3 p-5 text-shadow_gray_800 bg-white rounded-xl shadow-md"
>
  <div class="flex items-center justify-between">
    <h2
      class="text-[1.5rem] min-[360px]:text-[1.75rem] leading-[1.875rem] font-bold italic"
    >
      Media maratón de Bogotá - 21k
    </h2>
    <Image src={running} alt="Running" />
  </div>
  <div>
    <ul>
      <li class="my-1 text-xs font-medium">
        <span class="font-bold">Start:</span> February 12, 2024
      </li>
      <li class="my-1 text-xs font-medium">
        <span class="font-bold">End:</span> February 12, 2024
      </li>
    </ul>
  </div>
  <div>
    <a
      href="/"
      class="block px-7 py-1.5 text-base font-semibold rounded-md bg-cobalt_blue_600 text-white text-center"
    >
      Join</a
    >
  </div>
</article>
