---
import { Image } from "astro:assets";
import running from "../assets/images/challenge-card-running.png";
import cycling from "../assets/images/challenge-card-cycling.png";
import { getLangFromUrl, useTranslations } from "src/i18n/utils";
import { format } from "date-fns";

export interface Props {
  title: string;
  activityType: string;
  startTime: Date;
  endTime: Date;
  url: string;
}

const { title, activityType, startTime, endTime, url } = Astro.props;
const maxLength = 28;

const truncatedTitle =
  title.length > maxLength ? title.substring(0, maxLength) + "..." : title;

let activityImage = cycling;
if (activityType === "Running") {
  activityImage = running;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article
  class="flex flex-col justify-between w-[18.75rem] min-[360px]:w-[21.375rem] md:w-[22.5rem] h-[13.875rem] m-3 p-5 text-shadow_gray_800 bg-white rounded-xl shadow-md"
>
  <div class="flex items-center justify-between">
    <h2
      class="text-[1.5rem] min-[360px]:text-[1.75rem] leading-[1.875rem] font-bold italic"
    >
      {truncatedTitle}
    </h2>
    <Image src={activityImage} alt={activityType} />
  </div>
  <div>
    <ul>
      <li class="my-1 text-xs font-medium">
        <span class="font-bold">{t("challenge-card.startTime")}:</span>
        {format(startTime, " MMM d, yyyy h:mm:ss aa")}
      </li>
      <li class="my-1 text-xs font-medium">
        <span class="font-bold">{t("challenge-card.endTime")}:</span>
        {format(endTime, " MMM d, yyyy h:mm:ss aa")}
      </li>
    </ul>
  </div>
  <div>
    <a
      href={url}
      class="block px-7 py-1.5 text-base font-semibold rounded-md bg-cobalt_blue_600 text-white text-center"
    >
      {t("challenge-card.button")}</a
    >
  </div>
</article>
