---
---

<section class="bg-black flex justify-center pt-16 pb-32">
    <button
      class="text-white font-semibold text-base font-poppins bg-[#0054ff] rounded-md pt-3 px-6 pb-2"
    >
      Participate in this challenge
    </button>
  </section>