---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "src/i18n/utils";

const { challenge } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---

<section class="bg-black flex justify-center pt-16 pb-32">
  <a
    href={`https://app.swetro.com/account/register?challengeId=${challenge.data.id}`}
    class="px-7 py-2.5 text-base font-semibold rounded-md bg-cobalt_blue_600 text-white"
  >
    {t("challenge-detail.button")}</a
  >
</section>
