---
import { Image } from "astro:assets";
import logo from "@assets/images/logo.svg";
import {
  getLangFromUrl,
  getPathAfterLang,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";

const date = new Date();
const currentPath = getPathAfterLang(Astro.url);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer
  class="flex flex-col md:flex-row justify-between px-4 py-10 md:px-14 font-open_sans bg-white"
>
  <div class="">
    <Image src={logo} alt="Swetro" />

    <p class="mt-5 text-xs leading-[1.25rem] font-normal text-shadow_gray_500">
      Copyright {date.getFullYear()} Swetro. <br />
       All rights reserved.
    </p>
  </div>
  <div
    class="flex flex-col md:flex-row justify-between mt-6 md:mt-0 text-sm leading-6"
  >
    <div class="mb-3 mr-7">
      <h4 class="font-bold">Menu</h4>
      <ul class="mt-2 text-shadow_gray_500">
        <li>
          <a href={translatePath("/")} class="no-underline hover:underline"
            >{t("nav.home")}</a
          >
        </li>
        <li>
          <a
            href={translatePath("/challenges")}
            class="no-underline hover:underline">{t("nav.challenges")}</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h4 class="font-bold">{t("nav.support")}</h4>
      <ul class="mt-2 text-shadow_gray_500">
        <li>
          <a
            href={translatePath("/privacy-policy")}
            class="no-underline hover:underline">{t("nav.privacy-policy")}</a
          >
        </li>
        <li>
          <a
            href={translatePath("/terms-of-use")}
            class="no-underline hover:underline">{t("nav.terms-of-use")}</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
