---
import { Image } from "astro:assets";
import logo from "@assets/images/logo.svg";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";

const date = new Date();
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer
  class="flex flex-col md:flex-row justify-between px-4 py-10 md:px-14 font-open_sans bg-white"
>
  <div class="">
    <Image src={logo} alt="Swetro" />

    <p class="mt-5 text-xs leading-[1.25rem] font-normal text-shadow_gray_500">
      Copyright {date.getFullYear()} Swetro. <br />
       All rights reserved.
    </p>
    <div class="flex mt-2">
      <a href="https://instagram.com/swetro_com/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 24 24"
        >
          <path
            d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"
          ></path>
        </svg>
      </a>
      <a href="https://tiktok.com/@swetro.com">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 24 24"
        >
          <path
            d="M 6 3 C 4.3550302 3 3 4.3550302 3 6 L 3 18 C 3 19.64497 4.3550302 21 6 21 L 18 21 C 19.64497 21 21 19.64497 21 18 L 21 6 C 21 4.3550302 19.64497 3 18 3 L 6 3 z M 12 7 L 14 7 C 14 8.005 15.471 9 16 9 L 16 11 C 15.395 11 14.668 10.734156 14 10.285156 L 14 14 C 14 15.654 12.654 17 11 17 C 9.346 17 8 15.654 8 14 C 8 12.346 9.346 11 11 11 L 11 13 C 10.448 13 10 13.449 10 14 C 10 14.551 10.448 15 11 15 C 11.552 15 12 14.551 12 14 L 12 7 z"
          ></path>
        </svg>
      </a>
      <a href="https://x.com/swetro_com">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 24 24"
        >
          <path
            d="M10.053,7.988l5.631,8.024h-1.497L8.566,7.988H10.053z M21,6v12	c0,1.657-1.343,3-3,3H6c-1.657,0-3-1.343-3-3V6c0-1.657,1.343-3,3-3h12C19.657,3,21,4.343,21,6z M17.538,17l-4.186-5.99L16.774,7	h-1.311l-2.704,3.16L10.552,7H6.702l3.941,5.633L6.906,17h1.333l3.001-3.516L13.698,17H17.538z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row justify-between mt-6 md:mt-0 text-sm leading-6"
  >
    <div class="mb-3 mr-7">
      <h4 class="font-bold">Menu</h4>
      <ul class="mt-2 text-shadow_gray_500">
        <li>
          <a
            id="btn-home-footer"
            href={translatePath("/")}
            class="no-underline hover:underline">{t("nav.home")}</a
          >
        </li>
        <li>
          <a
            id="btn-challenges-list-footer"
            href={translatePath("/challenges")}
            class="no-underline hover:underline">{t("nav.challenges")}</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h4 class="font-bold">{t("nav.support")}</h4>
      <ul class="mt-2 text-shadow_gray_500">
        <li>
          <a
            href={translatePath("/privacy-policy")}
            class="no-underline hover:underline">{t("nav.privacy-policy")}</a
          >
        </li>
        <li>
          <a
            href={translatePath("/terms-of-use")}
            class="no-underline hover:underline">{t("nav.terms-of-use")}</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
