---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
import changeLanguage from "../assets/images/change-language.svg";
---

<header
  class="flex items-center justify-between h-12 px-4 md:px-14 font-open_sans text-sm text-shadow_gray_500"
>
  <div><Image src={logo} alt="Swetro" /></div>
  <div class="hidden md:block">
    <nav>
      <ul class="list-none">
        <li
          class="inline py-2 px-4 rounded-lg font-semibold bg-shadow_gray_100 text-shadow_gray_800"
        >
          <a href="/" class="no-underline hover:underline">Home</a>
        </li>
        <li class="inline px-2">
          <a href="/" class="no-underline hover:underline">Races & challenges</a
          >
        </li>
        <li class="inline px-2">
          <a href="/" class="no-underline hover:underline">About us</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="hidden md:block pr-4 mr-2">
    <div class="flex items-center h-12">
      <Image src={changeLanguage} alt="Change language" />
      <a href="/" class="mr-3 font-semibold no-underline hover:underline">
        ES</a
      >
      <div class="w-1 min-h-[40%] border-r border-[#E0E0E0]"></div>
      <nav>
        <ul class="list-none ml-2">
          <li class="inline px-2">
            <a href="/" class="no-underline hover:underline">Login</a>
          </li>
          <li class="inline pl-2">
            <a href="/" class="no-underline hover:underline">Register</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
