---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const challenges = await getCollection("challenges");
  return challenges.map((challenge) => ({
    params: { slug: challenge.slug },
    props: challenge,
  }));
}

const challenge = Astro.props;

let backgroundImage = "";
switch (challenge.data.activityType) {
  case "Cycling":
    backgroundImage =
      "/images/challenge-section-1-background-cycling-desktop.webp";
    break;
  case "Running":
    backgroundImage =
      "/images/challenge-section-1-background-running-desktop.webp";
    break;
  default:
    backgroundImage =
      "/images/challenge-section-1-background-default-desktop.webp";
    break;
}
---

<Layout title={`${challenge.data.title} - Swetro`}>
  <main>
    <section
      class="flex flex-row items-center justify-center h-[26.75rem] md:h-[23.4375rem] px-4 md:px-14 bg-black bg-center"
      style={`background-image: url(${backgroundImage});`}
    >
      <h1 class="font-normal text-center text-white">
        {challenge.data.title}
      </h1>
    </section>
  </main>
</Layout>
