---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ChallengeCardList from "@components/ChallengeCardList.jsx";
import { getLangFromUrl, useTranslatedPath } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const challenges = await getCollection("challenges", ({ data }) => {
  return data.lang === lang;
});
---

<Layout
  title="Races & challenges - Swetro"
  ,
  description="Join Swetro's virtual running and cycling races and challenges. Earn rewards for your physical activity."
>
  <main>
    <section
      class="flex flex-row items-center justify-center h-[26.75rem] md:h-[23.4375rem] px-4 md:px-14 bg-black bg-[url(/images/challenges-section-1-background-desktop.webp)] bg-no-repeat"
    >
      <h1
        class="text-[2rem] md:text-[2.5rem] leading-[3rem] font-normal text-center text-white"
      >
        Join a challenge today, <span
          class="inline md:block font-normal md:font-bold"
          >achieve your goals and win cash</span
        >
      </h1>
    </section>
    <ChallengeCardList
      challenges={challenges}
      baseUrl={translatePath("/challenges")}
      lang={lang}
      client:load
    />
  </main>
</Layout>
