---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Política de privacidad - Swetro">
  <main>
    <section class="my-12 px-4 md:px-14">
      <h1 class="my-8 text-2xl text-center font-bold">
        Política de privacidad
      </h1>
      <p class="my-4 text-sm leading-[1.375rem]">
        En Swetro, priorizamos tu privacidad y estamos comprometidos en
        garantizar un entorno seguro para todos nuestros usuarios. Esta Política
        de Privacidad describe la información que recopilamos cuando visitas
        nuestro sitio web o utilizas nuestros servicios, así como cómo
        utilizamos esta información.
      </p>
      <p class="my-4 text-sm leading-[1.375rem]">
        Si tienes alguna pregunta o necesitas más información acerca de nuestra
        Política de Privacidad, no dudes en contactarnos en hello@swetro.com.
      </p>
      <h2 class="my-5 text-lg font-bold">Ámbito</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Esta Política de Privacidad se aplica únicamente a nuestras actividades
        en línea y es válida para los visitantes de Swetro.com en relación con
        la información que comparten o que recopilamos. No se extiende a la
        información recopilada fuera de línea o a través de canales distintos a
        este sitio web.
      </p>
      <h2 class="my-5 text-lg font-bold">Consentimiento</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Al utilizar nuestro sitio web, aceptas cumplir con nuestra Política de
        Privacidad y das tu consentimiento a sus términos.
      </p>
      <h2 class="my-5 text-lg font-bold">Recopilación de información</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Siempre aclararemos los motivos por los cuales solicitamos información
        personal al solicitártela. Si te comunicas con nosotros directamente,
        podríamos recibir información adicional como tu nombre, dirección de
        correo electrónico, número de teléfono, contenido de mensajes, adjuntos
        y otros datos que elijas proporcionar.
      </p>
      <p class="my-4 text-sm leading-[1.375rem]">
        Cuando te registras para obtener una cuenta, podríamos solicitar
        información de contacto como tu nombre, dirección, correo electrónico y
        número de teléfono. Respetamos tu privacidad y no venderemos ni
        alquilaremos esta información a terceros.
      </p>
      <h2 class="my-5 text-lg font-bold">Cómo utilizamos tu información</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Empleamos la información que recopilamos para diversos fines, entre
        ellos:
      </p>
      <ul class="my-4 ml-3 list-disc text-sm leading-[1.375rem]">
        <li>Operar y mantener nuestro sitio web.</li>
        <li>Mejorar y personalizar tu experiencia en nuestro sitio web.</li>
        <li>
          Analizar el uso de nuestro sitio web para mejorar nuestros servicios.
        </li>
        <li>Desarrollar nuevas características, productos y servicios.</li>
        <li>
          Comunicarnos contigo, ya sea directamente o a través de nuestros
          socios, para brindarte servicio al cliente, actualizaciones e
          información de marketing.
        </li>
        <li>Enviarte correos electrónicos.</li>
        <li>Detectar y prevenir fraudes.</li>
        <li>Archivos de Registro.</li>
      </ul>
      <p class="my-4 text-sm leading-[1.375rem]">
        Swetro.com sigue prácticas estándar de la industria mediante el uso de
        archivos de registro, que incluyen direcciones IP, tipos de navegadores,
        marcas de tiempo, páginas de referencia/salida y datos de clics. Esta
        información no es identificable personalmente y nos ayuda a analizar
        tendencias, administrar el sitio web, realizar seguimiento de la
        actividad de los usuarios y recopilar datos demográficos.
      </p>
      <h2 class="my-5 text-lg font-bold">Socios publicitarios</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Por favor, consulta las respectivas Políticas de Privacidad de nuestros
        socios publicitarios. Podrían utilizar cookies, JavaScript o balizas web
        en sus anuncios para medir la efectividad de las campañas y personalizar
        contenido basado en tu historial de navegación. Swetro.com no tiene
        control sobre estas cookies de terceros.
      </p>
      <h2 class="my-5 text-lg font-bold">
        Políticas de privacidad de terceros
      </h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Los proveedores de terceros, como Garmin, Suunto y otros fabricantes de
        dispositivos de seguimiento de actividad física, podrían proporcionar
        datos a Swetro para desafíos y funciones de seguimiento físico. El uso
        de dichos datos por parte de Swetro está sujeto a las políticas de
        privacidad de estos proveedores. Los usuarios son responsables de
        revisar y aceptar estas políticas de privacidad de terceros.
      </p>
      <h2 class="my-5 text-lg font-bold">Tus derechos de privacidad</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Bajo la CCPA, los usuarios de California tienen derecho a:
      </p>
      <ul class="my-4 ml-3 list-disc text-sm leading-[1.375rem]">
        <li>Solicitar la divulgación de datos específicos recopilados.</li>
        <li>Solicitar la eliminación de los datos recopilados.</li>
        <li>Optar por no vender sus datos.</li>
      </ul>
      <p class="my-4 text-sm leading-[1.375rem]">
        Para los usuarios bajo el GDPR:
      </p>
      <ul class="my-4 ml-3 list-disc text-sm leading-[1.375rem]">
        <li>Derecho de acceso.</li>
        <li>Derecho de rectificación.</li>
        <li>Derecho de eliminación.</li>
        <li>Derecho de limitación del procesamiento.</li>
        <li>Derecho de oposición al procesamiento.</li>
        <li>Derecho a la portabilidad de datos.</li>
      </ul>
      <p>Por favor, contáctanos para ejercer estos derechos.</p>
      <h2 class="my-5 text-lg font-bold">Información de niños</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Swetro.com prioriza la protección en línea de los niños y no recopila de
        manera consciente información personal de niños menores de 13 años. Si
        crees que tu hijo ha proporcionado esta información, contáctanos y la
        eliminaremos de nuestros registros de manera inmediata.
      </p>
      <h2 class="my-5 text-lg font-bold">Contáctanos</h2>
      <p class="my-4 text-sm leading-[1.375rem]">
        Si tienes preguntas o inquietudes sobre esta política de privacidad, no
        dudes en comunicarte con nosotros en hello@swetro.com.
      </p>
    </section>
  </main>
</Layout>
